# Unión de bases de datos

In [13]:
import pandas as pd
import numpy as np

## 1. Append

In [20]:
# Definir las bases

# los siguientes datos correspoden a la Gran Encuesta Integrada de Hogares (GEIH) para marzo de 2021.

#Ocupados en áreas
ocupados_area = pd.read_excel ('C:/Users/VEW0102/Universidad de los Andes/Alfredo Eleazar Orozco Quesada - Curso Programación para datos EdContinua/Clases/Implementación/Clase 10 - Unión de bases de datos/GEIH_ocupados_área.xls')

#print(ocupados_area.head(2))
#print(ocupados_area.shape)
#ocupados_area['DIRECTORIO'].nunique()
print (ocupados_area.describe())

         DIRECTORIO  SECUENCIA_P       ORDEN  Horas adicionales    RAMA_CIIU  \
count  1.000000e+02        100.0  100.000000           9.000000   100.000000
mean   5.392875e+06          1.0    1.960000          26.000000  6117.060000
std    5.962018e+01          0.0    1.294276          11.313708  2064.197126
min    5.392695e+06          1.0    1.000000          10.000000   141.000000
25%    5.392866e+06          1.0    1.000000          20.000000  4711.000000
50%    5.392886e+06          1.0    1.500000          24.000000  5612.000000
75%    5.392911e+06          1.0    2.000000          24.000000  8412.250000
max    5.392931e+06          1.0    7.000000          48.000000  9700.000000

           Ingresos
count  9.500000e+01
mean   9.911806e+05
std    8.429334e+05
min    3.000000e+04
25%    4.000000e+05
50%    8.000000e+05
75%    1.250000e+06
max    4.500000e+06

In [21]:
ocupados_area['lugar']='Área'
print(ocupados_area.head())

   DIRECTORIO  SECUENCIA_P  ORDEN  Horas adicionales Cambia_trab  RAMA_CIIU  \
0     5392695            1      1               20.0          No       6910
1     5392696            1      1                NaN          No       4111
2     5392696            1      3                NaN          No       8610
3     5392697            1      1                NaN          No       8424
4     5392699            1      1                NaN          No       2592

    Ingresos lugar
0  2000000.0  Área
1  2000000.0  Área
2  1700000.0  Área
3  2800000.0  Área
4   969526.0  Área

In [23]:
#Ocupados en cabecera
ocupados_cabecera = pd.read_excel ('C:/Users/VEW0102/Universidad de los Andes/Alfredo Eleazar Orozco Quesada - Curso Programación para datos EdContinua/Clases/Implementación/Clase 10 - Unión de bases de datos/GEIH_ocupados_cabecera.xls')
print(ocupados_cabecera.head(5))
print(ocupados_cabecera.shape)
ocupados_cabecera['DIRECTORIO'].nunique()

   DIRECTORIO  SECUENCIA_P  ORDEN  Horas adicionales Cambia_trab  RAMA_CIIU  \
0     5392574            1      3                NaN          No       5621
1     5392578            1      1                NaN          No       8692
2     5392578            1      2                NaN          No       4520
3     5392579            1      1                NaN          No       8422
4     5392579            1      2                NaN          No       5012

    Ingresos
0  1000000.0
1   800000.0
2   700000.0
3        NaN
4  1200000.0
(100, 7)

75

In [24]:
ocupados_cabecera['lugar']='Cabecera'
print(ocupados_cabecera.head())

   DIRECTORIO  SECUENCIA_P  ORDEN  Horas adicionales Cambia_trab  RAMA_CIIU  \
0     5392574            1      3                NaN          No       5621
1     5392578            1      1                NaN          No       8692
2     5392578            1      2                NaN          No       4520
3     5392579            1      1                NaN          No       8422
4     5392579            1      2                NaN          No       5012

    Ingresos     lugar
0  1000000.0  Cabecera
1   800000.0  Cabecera
2   700000.0  Cabecera
3        NaN  Cabecera
4  1200000.0  Cabecera

In [25]:
# Append
data_appended = ocupados_area.append(ocupados_cabecera)
print(data_appended.head(10))
print(data_appended.shape)
data_appended['DIRECTORIO'].nunique()

Stata:
unique VAR1 
codebook var1

   DIRECTORIO  SECUENCIA_P  ORDEN  Horas adicionales Cambia_trab  RAMA_CIIU  \
0     5392695            1      1               20.0          No       6910
1     5392696            1      1                NaN          No       4111
2     5392696            1      3                NaN          No       8610
3     5392697            1      1                NaN          No       8424
4     5392699            1      1                NaN          No       2592
5     5392703            1      1                NaN          No       6820
6     5392707            1      1                NaN          No       8544
7     5392708            1      3                NaN          No       4111
8     5392708            1      4                NaN          No       8220
9     5392852            1      1                NaN          No       8413

    Ingresos lugar
0  2000000.0  Área
1  2000000.0  Área
2  1700000.0  Área
3  2800000.0  Área
4   969526.0  Área
5  1300000.0  Área
6   908526.0  Área
7   908526.0  Área
8   908526.0  Área
9  3900000.0  Área
(200, 8)

140

In [26]:
print(data_appended.tail(10))

    DIRECTORIO  SECUENCIA_P  ORDEN  Horas adicionales Cambia_trab  RAMA_CIIU  \
90     5392677            1      1                NaN          No       8551
91     5392679            1      3                NaN          S�       5511
92     5392681            1      1                NaN          No       4921
93     5392682            1      1                NaN          No       8010
94     5392683            1      3                NaN          No       3110
95     5392684            1      1                NaN          No       4711
96     5392685            1      1                NaN          No       8412
97     5392685            1      2                NaN          No       8412
98     5392686            1      1                NaN          No       8621
99     5392687            1      1                8.0          No       8010

     Ingresos     lugar
90  2000000.0  Cabecera
91   500000.0  Cabecera
92  1000000.0  Cabecera
93   908526.0  Cabecera
94   700000.0  Cabecera
95  1140000.0  Cabecera
96        NaN  Cabecera
97  2000000.0  Cabecera
98  4000000.0  Cabecera
99  1900000.0  Cabecera

## 2. Join: relaciones múltiples

In [31]:
# Definir las bases

#Personas de la GEIH
personas = pd.read_excel ('C:/Users/VEW0102/Universidad de los Andes/Alfredo Eleazar Orozco Quesada - Curso Programación para datos EdContinua/Clases/Implementación/Clase 10 - Unión de bases de datos\GEIH_personas.xls')
print(personas.head(10))
personas['DIRECTORIO'].nunique()

   DIRECTORIO  ORDEN    Sexo  Edad Pobre Leer
0     5392695      1  Hombre    24    No   Sí
1     5392695      2  Hombre    19   NaN   Sí
2     5392696      1  Hombre    38    No   Sí
3     5392696      2   Mujer    44   NaN   Sí
4     5392696      3   Mujer    21   NaN   Sí
5     5392696      4  Hombre    72   NaN   Sí
6     5392697      1  Hombre    29    No   Sí
7     5392697      2   Mujer    61   NaN   Sí
8     5392697      3  Hombre    31   NaN   Sí
9     5392698      1   Mujer    71    Si   Sí

34

In [30]:
#Viviendas de la GEIH
viviendas = pd.read_excel ('C:/Users/VEW0102/Universidad de los Andes/Alfredo Eleazar Orozco Quesada - Curso Programación para datos EdContinua/Clases/Implementación/Clase 10 - Unión de bases de datos\GEIH_viviendas.xls')
print(viviendas.head(10))
viviendas['DIRECTORIO'].nunique()

   DIRECTORIO  Num_cuartos Nevera  Num_personas Acueducto
0     5392695            4     Sí             2        Sí
1     5392696            4     Sí             4        No
2     5392697            5     Sí             3        Sí
3     5392698            3     Sí             2        No
4     5392699            3     Sí             3        Sí
5     5392700            3     Sí             1        Sí
6     5392701            4     Sí             2        Sí
7     5392702            2     No             2        Sí
8     5392703            2     No             3        Sí
9     5392705            3     Sí             3        No

100

### 2.1 Inner Join

In [33]:
#Inner Join
inner = viviendas.merge(personas, on="DIRECTORIO", how="inner") ## default
print(inner.head(5))
inner['DIRECTORIO'].nunique()

   DIRECTORIO  Num_cuartos Nevera  Num_personas Acueducto  ORDEN    Sexo  \
0     5392695            4     Sí             2        Sí      1  Hombre
1     5392695            4     Sí             2        Sí      2  Hombre
2     5392696            4     Sí             4        No      1  Hombre
3     5392696            4     Sí             4        No      2   Mujer
4     5392696            4     Sí             4        No      3   Mujer

   Edad Pobre Leer
0    24    No   Sí
1    19   NaN   Sí
2    38    No   Sí
3    44   NaN   Sí
4    21   NaN   Sí

34

### 2.2 Left Join

In [79]:
#Left Join
left = viviendas.merge(personas, on="DIRECTORIO", how="left")
print(left.head(5))
left['DIRECTORIO'].nunique()

   DIRECTORIO  Num_cuartos Nevera  Num_personas Acueducto  ORDEN    Sexo  \
0     5392695            4     Sí             2        Sí    1.0  Hombre
1     5392695            4     Sí             2        Sí    2.0  Hombre
2     5392696            4     Sí             4        No    1.0  Hombre
3     5392696            4     Sí             4        No    2.0   Mujer
4     5392696            4     Sí             4        No    3.0   Mujer

   Edad Pobre Leer
0  24.0    No   Sí
1  19.0   NaN   Sí
2  38.0    No   Sí
3  44.0   NaN   Sí
4  21.0   NaN   Sí

100

### 2.3 Right Join

In [34]:
#Right Join
right = viviendas.merge(personas, on="DIRECTORIO", how="right")
print(right.head(5))
print(right.shape)
right['DIRECTORIO'].nunique()

   DIRECTORIO  Num_cuartos Nevera  Num_personas Acueducto  ORDEN    Sexo  \
0     5392695            4     Sí             2        Sí      1  Hombre
1     5392695            4     Sí             2        Sí      2  Hombre
2     5392696            4     Sí             4        No      1  Hombre
3     5392696            4     Sí             4        No      2   Mujer
4     5392696            4     Sí             4        No      3   Mujer

   Edad Pobre Leer
0    24    No   Sí
1    19   NaN   Sí
2    38    No   Sí
3    44   NaN   Sí
4    21   NaN   Sí
(100, 10)

34

### 2.4 Outer Join

In [99]:
#Outer Join
outer = viviendas.merge(personas, on="DIRECTORIO", how="outer")
print(outer.head(5))
outer['DIRECTORIO'].nunique()

MergeError: Merge keys are not unique in right dataset; not a one-to-one merge

## 3. Temas adicionales

### 3.1 Múltiples uniones

In [ ]:
multiple = df1.merge(df2, on=["key1"]) \ .merge(df3, on=["key2"]) \ .merge(df4, on=["key4"]) 
print(multiple.head(5))

### 3.2 Identificadores diferentes

In [ ]:
llaves_dif = df1.merge(df2, left_on='DIREC', right_on='direc')

### 3.3 Validaciones

In [37]:
GEIH_personas = pd.read_excel ('C:/Users/VEW0102/Universidad de los Andes/Alfredo Eleazar Orozco Quesada - Curso Programación para datos EdContinua/Clases/Implementación/Clase 10 - Unión de bases de datos\GEIH_personas.xls')
inner = viviendas.merge(GEIH_personas, validate='one_to_many') ## default
print(inner.head(5))

   DIRECTORIO  Num_cuartos Nevera  Num_personas Acueducto  ORDEN    Sexo  \
0     5392695            4     Sí             2        Sí      1  Hombre
1     5392695            4     Sí             2        Sí      2  Hombre
2     5392696            4     Sí             4        No      1  Hombre
3     5392696            4     Sí             4        No      2   Mujer
4     5392696            4     Sí             4        No      3   Mujer

   Edad Pobre Leer
0    24    No   Sí
1    19   NaN   Sí
2    38    No   Sí
3    44   NaN   Sí
4    21   NaN   Sí